.prompt-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.prompt {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  width: 500px;
  gap: 20px;
  border-radius: 6px 6px 6px 6px;
}

.color-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.color-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.color-circle:hover {
  outline: 2px solid #555;
}

.add-group-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: Roboto;
  font-size: 20.31px;
  font-weight: 500;
  line-height: 43.75px;
  letter-spacing: 0.035em;
}

.add-group-name input {
  width: 300px;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 1.5rem;
}

.add-group-name input::placeholder {
  padding: 0.1rem;
}

.choose-color {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-family: Roboto;
  font-size: 20.31px;
  font-weight: 500;
  line-height: 43.75px;
  letter-spacing: 0.035em;
}

.heading {
  font-family: Roboto;
  font-weight: 500;
  line-height: 43.75px;
  letter-spacing: 0.035em;
}

.color-circle.color-B38BFA {
  background-color: #b38bfa;
}
.color-circle.color-FF79F2 {
  background-color: #ff79f2;
}
.color-circle.color-43E6FC {
  background-color: #43e6fc;
}
.color-circle.color-F19576 {
  background-color: #f19576;
}
.color-circle.color-0047FF {
  background-color: #0047ff;
}
.color-circle.color-6691FF {
  background-color: #6691ff;
}

.create-button {
  background-color: #001f8b;
  color: white;
  position: relative;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  width: 25%;
  left: 330px;
  border-radius: 11px;
}

.create-button:hover {
  background-color: #01196f;
}

/* Monitor View */
@media (min-width: 1439px) {
  .prompt-overlay {
    right: 0;
    top: 0;
  }
}
/* Laptop View */
@media (min-width: 1024px) and (max-width: 1439px) {
  .prompt-overlay {
    top: 0;
  }
}
/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .prompt-overlay {
    top: 0;
    right: 0;
  }
}
/* Mobile View */
@media (max-width: 767px) {
  .prompt {
    width: 384px;
    height: 220px;
    margin: 1px;
  }
  .add-group-name {
    display: flex;
    font-size: 14.6px;
    gap: 1rem;
  }
  .add-group-name input {
    width: 125%;
  }
  .choose-color {
    font-family: Roboto;
    font-size: 14.6px;
    font-weight: 500;
    line-height: 23.39px;
    letter-spacing: 0.035em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .color-container {
    gap: 0.6rem;
  }
  .create-button {
    width: 60%;
    left: 20%;
    margin-top: 2px;
    font-size: 17px;
  }
}
/* Mini View */
@media (min-width: 0px) and (max-width: 374px) {
  .prompt {
    width: 300px;
    height: 218px;
    top: 238px;
    left: 38px;
    gap: 10px;
    /* margin: 5px; */
  }
  .add-group-name {
    font-family: Roboto;
    font-size: 12.6px;
    font-weight: 500;
    line-height: 23.39px;
    letter-spacing: 0.035em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .add-group-name input {
    width: 200px;
  }
  .choose-color > div {
    width: 20px;
    font-size: 14px;
  }
  .color-options {
    gap: 4px;
  }
  .create-button {
    font-size: 15px;
  }
}
