.main-container {
  display: flex;
  height: 99vh;
}

.add-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #16008b;
  color: #ffffff;
  font-size: 24px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 300px;
}

.content {
  flex: 1;
  background-color: #dae5f5;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-image img {
  margin-bottom: 10px;
  width: 626px;
  height: 313px;
  top: 237px;
  left: 660px;
  opacity: 0px;
}

.info {
  width: 650px;
  height: 64px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.info h2 {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 600;
  line-height: 58.59px;
  letter-spacing: 0.02em;
}

.encryption {
  position: absolute;
  bottom: 0;
  font-family: Roboto;
  margin: 1.2rem;
  display: flex;
  gap: 0.3rem;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000;
}

.encryption img {
  width: 14px;
  height: 17px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .encryption {
    display: none;
  }
}

@media (max-width: 767px) {
  .encryption {
    display: none;
  }
}
