.notes-container {
  display: flex;
  flex-direction: column;
  background-color: #dae5f5;
  width: calc(100vw - 300px);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.notes-container h2 {
  color: #ffffff;
  padding: 10px;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1.2rem;
  margin-top: 10px;
  overflow-y: auto;
  flex: 1;
  max-height: calc(100vh - 150px);
}

.note-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: fit-content;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.83px;
  letter-spacing: 0.035em;
  text-align: left;
  text-align: justify;

  & span {
    text-align: end;
  }
}

.note-card span {
  display: block;
  margin-top: 10px;
  color: #666;
  font-size: 0.9em;
}

.note-input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  background-color: #001f8b;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  height: 220px;
  bottom: 0;
}

.note-input-container textarea {
  flex: 1;
  padding: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: none;
  width: 100%;
  height: 12rem;
  font-size: 1.5rem;
}

.notes-container-group-heading {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  gap: 1.2rem;
  padding-left: 1.2rem;
}

.notes-container-group-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  padding: 25px;
}

.notes-container-group-name {
  font-size: 1.25rem;
}

.note-input-container > textarea::placeholder {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 34.94px;
  letter-spacing: 0.02em;
  text-align: left;
}

.input-container {
  width: 100%;
  display: flex;
  padding: 10px 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}

.add-note-btn {
  position: absolute;
  right: 50px;
  bottom: 40px;
  background: transparent;
}

.add-note-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.back-button {
  background: transparent;
  border: none;
  margin-left: 0.8rem;
  cursor: pointer;
}

/* Responsive */

/* Monitor Screen View */
@media (min-width: 1440px) {
  .back-button {
    display: none;
  }
  .notes-container {
    top: 0;
    right: 0;
  }
  .note-card {
    height: fit-content;
    text-align: justify;
  }
}
/* Laptop Screen View */
@media (min-width: 1024px) and (max-width: 1439px) {
  .back-button {
    display: none;
  }
  .notes-container {
    top: 0;
    right: 0;
    left: 50px;
  }
  .note-card {
    height: fit-content;
    font-size: 17px;
    text-align: justify;
  }
  .note-input-container {
    height: 150px;
    padding: 0;
  }
  .note-input-container textarea {
    height: 8rem;
    font-size: 1.25rem;
  }

}
/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .notes-container {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
  .note-card {
    height: fit-content;
    font-size: 15px;
    text-align: justify;
  }
  .note-input-container {
    height: 150px;
    padding: 0;
  }
  .note-input-container textarea {
    height: 8rem;
    font-size: 1.25rem;
  }
}
/* Mobile View */
@media (max-width: 767px) {
  .notes-container {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .note-input-container {
    height: 120px;
    padding: 0rem;
  }

  .note-input-container textarea {
    height: 5rem;
    font-size: 1rem;
  }
  .add-note-btn button > img {
    width: 25px;
    height: 25px;
  }
  .note-card {
    font-size: 13px;
  }
  .back-button {
    margin-left: 0;
  }
}
