.sidebar {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  text-align: center;
  color: #000;
  height: 100%;
  overflow-y: auto;
}

.sidebar h1 {
  margin: 10px;
}

.empty-group {
  color: gray;
}

.groups-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 2rem;
  /* overflow-y: auto; */
  flex-grow: 1;
  max-height: calc(100vh - 150px);
  padding-bottom: 70px;
}

.single-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.add-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #16008b;
  color: #ffffff;
  font-size: 45px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.add-button:hover {
  background-color: #0d0066;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

/* Responsive */

/* Large screen (monitor) view */
@media (min-width: 1440px) {
  .add-button {
    width: 60px;
    height: 60px;
    font-size: 50px;
    left: 280px;
  }

  .single-group {
    width: 300px;
  }
}
/* laptop view */
@media (min-width: 1024px) and (max-width: 1439px) {
  .add-button {
    width: 60px;
    height: 60px;
    font-size: 50px;
    left: 230px;
  }
  .single-group {
    width: 300px;
    padding: 0 1rem;
  }
}
/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar {
    width: 100vw;
  }
  .add-button {
    width: 60px;
    height: 60px;
    font-size: 50px;
    left: 650px;
  }
}
/* Mobile View */
@media (max-width: 767px) {
  .sidebar {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    max-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .groups-list {
    flex-grow: 1;
    max-height: calc(100vh - 90px);
  }

  .add-button {
    position: fixed;
    left: 80%;
    align-self: center;
    margin-top: auto;
  }
}
